*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Dancing Script', cursive;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-image: radial-gradient(#fff, #f0f0f0, #7ac77a3a);

    scrollbar-width: thin;                  /* "auto" or "thin" */
    scrollbar-color: #0080009f #fff;    /* scroll thumb and track */
}

footer {
    font-size: .75rem;
    padding: .15rem;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    box-shadow: 0px -2px 15px #00800059;
    background: #61ce61;
    color: #fff;
    z-index: 1;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #61ce61;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 1.75rem;
    box-shadow: 0px 2px 15px #00800059;
    z-index: 1;
}

.header {
    max-width: 28rem;
    background: #fff;
    border-radius: 50% 50% 0 0;
    margin-top: .75rem;
    padding-bottom: .75rem;
    z-index: 1;
}

.container {
    max-width: 30rem;
    margin-top: 8rem;
    margin-bottom: 3rem;
    width: 100%;
    min-height: 10vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1rem;
}

.container * {
    max-width: 30rem;
    width: 100%;
}

h1 {
    margin-top: .5rem;
    font-family: 'Lobster', cursive;
    font-weight: 150;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0080009f;
}

h2 {
    margin-top: 1rem;
    font-family: 'Lobster', cursive;
    font-size: 1.15rem;
    font-weight: 100;
    color: #0000007a;
}

.logo {
    width: 2rem;
    height: auto;
    margin-right: .5rem;
    border-radius: 50%;
}

.info {
    min-height: 2rem;
    margin: .1rem 1rem;
    padding: .15rem .75rem;
    font-family: 'Lobster', cursive;
    font-size: 1.15rem;
    font-weight: 100;
    color: #0000007a;
}

.length {
    margin: .25rem;
    font-weight: bold;
    display: block;
    width: 100%;
    text-align: right;
    font-family: 'Lobster', cursive;
    font-weight: 150;
}

.length::after {
    content: 'chars.';
    margin-left: .25rem;
    font-style: italic;
    font-weight: 150q;
}

textarea {
    min-height: 8rem;
    font-size: 1.5rem;
    padding: .5rem;
}

#result {
    border: 1px solid rgba(0, 0, 0, 0.301);
    background: #fff;
    border-radius: .25rem;
    min-height: 10rem;
    display: grid;
    place-items: center;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 1rem;
}

.btn-send {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1.25rem;
    border: none;
    background: #0080009f;
    color: #fff;
    padding: .5rem .75rem;
    width: max-content;
    min-width: 7rem;
    border-radius: .25rem;
    cursor: pointer;
    user-select: none;
    font-family: 'Lobster', cursive;
    font-weight: 150;
}

button:hover {
    filter: brightness(1.2);
}

button:active {
    transform: scale(.985);
}

button img {
    width: 1.5rem !important;
}

.ctrls {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-top: .5rem;
}

/************/

/* CHECKBOX */

/************/

.checkbox-container {
    position: relative;
    top: .325rem;
    height: 35px;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
    width: 1.5rem;
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    width: 30px;
    background-color: #00800036;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input~.checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked~.checkmark {
    background-color: #0080009f;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
    border: 1px solid #000;
}

/* Show the checkmark when checked */
.checkbox-container input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
    left: 11px;
    top: 4px;
    width: 8px;
    height: 18px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.checkbox-container .label {
    position: absolute;
    top: -.1rem;
    left: 2.25rem;
    font-size: .9rem;
    width: max-content;
}

/********************/

/* ANIMATION POINTS */

/********************/

.anim span {
    display: inline-block;
    background-color: green;
    height: 1rem;
    width: 1rem;
    margin: .25rem;
    animation: fadePoints 4s ease-in infinite;
}

.anim span:nth-child(2) {
    animation-delay: .5s;
}

.anim span:nth-child(3) {
    animation-delay: 1s;
}

@keyframes fadePoints {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/**************/
/* SCROLL BAR */
/**************/

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 15px;
}

*::-webkit-scrollbar-track {
    background: #fff;
}

*::-webkit-scrollbar-thumb {
    background-color:#0080009f;
    border-radius: 20px;
    border: 3px solid #fff;
}